body {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #3e3e3e;
	margin: 0;
	padding: 0;
}

section {
	margin-bottom: 100px;
}

img {
	vertical-align: middle;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

.col-50 {
	width: 50%;
}

.col-33 {
	width: 32%;
	padding: 20px 15px;
	border-radius: 20px;
	box-shadow: 1px 1px 2px rgb(182 182 182);
	box-sizing: border-box;
}

.home-content {
	margin-top: 100px;
}

.home-content h1 {
	font-family: "Yeseva One", cursive;
	font-size: 55px;
	position: relative;
	margin-left: 15px;
}

.home-content h1::after {
	position: absolute;
	content: "";
	height: 86%;
	width: 6px;
	left: -15px;
	top: 9px;
	background-color: red;
	border-radius: 10px;
}

.home-content h1 span {
	display: block;
	color: orange;
	margin-top: 20px;
}

.home-content p {
	margin-bottom: 30px;
}

.home-banner img {
	width: 100%;
	margin: 0 auto;
}

.button {
	background-color: #ff5959;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
}

.title h2 {
	font-size: 48px;
	font-weight: 700;
	color: #13103a;
	text-align: center;
}

.title h2 span {
	color: #ff5959;
}

/* About Part */

.col-33 img {
	width: 80px;
}
.mission {
	background-color: #4f9da61a;
}
.vission {
	background-color: #ff59591a;
}

.goals {
	background-color: #fff4d6;
}
