body {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #3e3e3e;
	margin: 0;
	padding: 0;
}

section {
	margin-bottom: 80px;
}

img {
	vertical-align: middle;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

.col-50 {
	width: 50%;
}

.col-33 {
	width: 32%;
	padding: 20px 15px;
	border-radius: 20px;
	box-shadow: 1px 1px 2px rgb(182 182 182);
	box-sizing: border-box;
}

.home-content {
	margin-top: 100px;
}

.home-content h1 {
	font-family: "Yeseva One", cursive;
	font-size: 55px;
	position: relative;
	margin-left: 15px;
}

.home-content h1::after {
	position: absolute;
	content: "";
	height: 86%;
	width: 6px;
	left: -15px;
	top: 9px;
	background-color: red;
	border-radius: 10px;
}

.home-content h1 span {
	display: block;
	color: orange;
	margin-top: 20px;
}

.home-content p {
	margin-bottom: 30px;
}

.home-banner img {
	width: 100%;
	margin: 0 auto;
}

.button {
	background-color: #ff5959;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
}

.title h2 {
	font-size: 48px;
	font-weight: 700;
	color: #13103a;
	text-align: center;
}

.title h2 span {
	color: #ff5959;
}

/* About Part */

.col-33 img {
	width: 80px;
}

#mission {
	background-color: #fff6f6;
	padding-top: 30px;
	padding-bottom: 30px;
}

.mission {
	background-color: #4f9da61a;
}

.vission {
	background-color: #ff59591a;
}

.goals {
	background-color: #fff4d6;
}

/* About Me Part */

#about {
	background-image: url(../images/about-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}

.col-45 {
	width: 45%;
}

.col-45 img {
	width: 100%;
	margin-top: 30px;
}

.col-55 {
	width: 55%;
}

.col-55 h2 {
	font-size: 40px;
}

.col-55 h2 span {
	display: block;
}

.col-55 .button {
	margin-top: 20px;
	display: inline-block;
}

/* Community */

#community {
	background-color: #fff6f6;
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Hobois Section */

.col-25 {
	width: 23%;
	background-color: #efefef;
	text-align: center;
	padding: 30px 0px;
	box-sizing: border-box;
	box-shadow: 10px 10px 15px #cbcbcb;
}

.cyling {
	border-left: 5px solid;
	border-image: linear-gradient(#051937, #a8eb12);
	border-image-slice: 1;
}

.coding {
	border-left: 5px solid;
	border-image: linear-gradient(#cc2b5e, #753a88);
	border-image-slice: 1;
}

.hiking {
	border-left: 5px solid;
	border-image: linear-gradient(#dd5e89, #f7bb97);
	border-image-slice: 1;
}

.traveling {
	border-left: 5px solid;
	border-image: linear-gradient(#02aab0, #00cdac);
	border-image-slice: 1;
}

/* Footer Section */
footer {
	background-color: #0b0d17;
	text-align: center;
	padding: 20px 0px;
}

footer h2 {
	font-family: "Yeseva One", cursive;
	font-size: 25px;
	color: #fff;
}

footer h2 span {
	color: orange;
}

footer p {
	color: #d9dbe1;
}
